.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

textarea {
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 60vh;
    width: 80vw;
}